.aboutfullpage{
    background-color: #222;
    background-image: initial;
    background-position-x: initial;
    background-position-y: initial;
    background-size: initial;
    background-repeat: initial;
    background-attachment: initial;
    background-origin: initial;
    background-clip: initial;
    height: 100vh;
}

.aboutfullpage .abouth1{
    color: white;
    text-align: center;
    padding-top: 50px;
    font-size: 3em;
    font-weight: bold;
}
.aboutfullpage .abouttext{
    color: #FFC107;
}
.aboutfullpage p{
    color: white;
    font-size: 1em;
    text-align: center;
    opacity: 80%;
    padding: 5px 0 0;
    font-family: 'Open Sans', sans-serif
}

.intro{
    margin-left: 400px;
    margin-top: 150px;
}
.intro .introright {
    margin-left: 600px;
    margin-top: -200px;
}
.intro .introleft .spanintroleft{
    opacity: 85%;
    color: white;
    padding-left:20px ;
}

.intro .introleft .spanintroright {
    color: #ffffff;
    padding-left: 23px;
    
}

.intro .introright p{
    color:white;
    opacity: 80%;

}